// new
ion-img.img-logotype {
  display: block;
  border-radius: 0;
  
  &.img-loaded {
    background-color: #ffffff;
  
    img {
      border-radius: 0;
      display: block;
      height: 75px;
      margin: {
        left: auto;
        right: auto;
      };
    }
  }
}


